<h1>Our Shelters</h1>
<h4><a href="shelters/new">New Shelter</a></h4>

<% @shelters.each do |shelter| %>
  <section id="shelter-<%= shelter.id %>">
    <h2><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
    <h5>
      <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %>
      <% if !shelter.any_pending_pets? %>
        <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
      <% end %>
    </h5>
  </section>
<% end %><br>

<section class="top-rated-shelters">
  <h3>Top Rated Shelters</h3>
  <% Shelter.top_rated_shelters.each do |shelter| %>
    <%= shelter.name %><br>
  <% end %>
</section>
