<h2>Our Shelters</h2>
<h4><a href="shelters/new">New Shelter</a></h4>

<% @shelters.each do |shelter| %>
  <section class="shelter-container" id="shelter-<%= shelter.id %>">
    <h2><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
    <p>
      <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", class: "box-links"%>
      <% if !shelter.any_pending_pets? %>
        <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete, class: "box-links" %>
      <% end %>
    </p>
  </section>
<% end %><br>

<section class="top-rated-shelters">
  <h3>Top Rated Shelters</h3>
  <% Shelter.top_rated_shelters.each do |shelter| %>
    <%= shelter.name %><br>
  <% end %>
</section>
