<h1><%= @shelter.name %></h1>
<p>
  <%= @shelter.address %>,<br>
  <%= @shelter.city %>,
  <%= @shelter.state %>,
  <%= @shelter.zip %>
</p>
<div>
  <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
  <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
</div>

<h2><%= link_to "Shelter's Pets", "/shelters/#{@shelter.id}/pets" %></h2>

<h2>Read Our Reviews!</h2>
<% @reviews.each do |review| %>
  <div>
    <p><%= review.title %></p>
    <p>Rating <%= review.rating %></p>
    <p>"<%= review.content %>"</p>
    <p><%= image_tag(review.picture) %></p>
  </div>
<% end %>
