<style>
  .reviewTitle {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
  }

  .reviews {
    width: 350px
  }

  .modifyReviews {
    font-size: 12px
  }

</style>

<h1><%= @shelter.name %></h1>
<p>
  <%= @shelter.address %>,<br>
  <%= @shelter.city %>,
  <%= @shelter.state %>,
  <%= @shelter.zip %>
</p>

<div>
  <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
  <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
</div><br>

<section class="reviews">
  <% @shelter.reviews.each do |review| %>
    <div class="reviewTitle"><%= review.title %></div>
    <%= review.rating %> Stars<br>
    <img src="<%= review.picture %>" width=200px><br>
    <%= review.content %><br>
    <section class="modifyReviews">
      <%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %>
      <%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %><br><br>
    </section>
  <% end %>
</section>

<h2><%= link_to "Shelter's Pets", "/shelters/#{@shelter.id}/pets" %></h2>

<h2>Read Our Reviews!</h2>
<% @reviews.each do |review| %>
  <div>
    <p><%= review.title %></p>
    <p>Rating <%= review.rating %></p>
    <p>"<%= review.content %>"</p>
    <p><%= image_tag(review.picture) %></p>
  </div>
<% end %>

<h2><%= link_to "Add New Review", "/shelters/#{@shelter.id}/reviews/new" %></h2>
