<h1 class="container-fluid">Favorited Pets</h1><br>
<div class="container-fluid"><%= link_to "Adopt Favorited Pets", "/applications/new" %><div>
<div class="flex-row container-fluid">
  <% if @pets == 0 %>
    <div class="container-fluid">You have no favorited pets</div>
  <% else %>
    <% @pets.each do |pet| %>
      <div class="row d-flex" id="favorite-pet-<%= pet["id"] %>">
        <figure class="col-lg-6 d-flex">
          <img src="<%= pet["image"] %>"><br>
            <figcaption class="container my-auto">
              <li><h2><%= link_to pet["name"], "/pets/#{pet["id"]}" %></h2>
              <li><%= link_to "Remove from Favorites", "/favorites/#{pet["id"]}", method: :delete %></li>
            </figcaption>
        </figure>
      </div>
    <% end %>
      <div class="container-fluid"><%= link_to "Remove All Favorites", "/favorites", method: :delete %></div>
  <% end %>
</div>
