<h1 class="container-fluid">Our Pets</h1>
<div class="flex-row container-fluid">
    <div class="row d-flex">
      <% @pets.each do |pet| %>
      <figure class="col-lg-6 d-flex">
        <img src="<%= pet.image %>"><br>
        <figcaption class="container">
          <li>Name: <%= pet.name %></li>
          <li>Sex: <%= pet.sex %></li>
          <li>Approximate Age: <%= pet.approximate_age %></li>
          <li>Currently Located At: <%= pet.shelter.name %></li>
          <li><%= link_to "Update Pet", "/pets/#{pet.id}/edit", method: :get %>
          <li><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
        </figcaption>
      </figure>
      <% end %>
    </div>
</div>
