<div class="pet-info">
    <img src="<%= @pet.image %>" class="pet-view-img "><br>
    <div class="pet-description">
      <ul>
        <li><h1><%= @pet.name %></h1></li>
        <li>Description: <%= @pet.description %></li>
        <li>Age: <%= @pet.approximate_age %></li>
        <li>Sex: <%= @pet.sex %></li>
        <li>Adoption Status: <%= @pet.adoption_status %></li>
      </ul>
      <div class="pet-links">
        <%= link_to "All Applications", "/pets/#{@pet.id}/applications", class: "box-links" %><br>
        <% if favorites.contains?(@pet.id)%>
          <%= link_to "Remove from Favorites", "/favorites/#{@pet.id}", method: :delete, class: "box-links" %><br>
        <% else %>
          <%= link_to "Favorite Pet", "/favorites/#{@pet.id}", method: :patch, class: "box-links" %><br>
        <% end %>

        <%= link_to "Update Pet", "/pets/#{@pet.id}/edit", class: "box-links" %><br>
        <% if !@pet.applied_for? %>
          <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, class: "box-links" %><br>
        <% end %>
      </div>
    </div>
</div>
